lib==3.10.0
numpy==2.2.3
opencv_python==4.11.0.86
pandas==2.2.3
Pillow==11.1.0
plotly==6.0.0
PyYAML==6.0.2
PyYAML==6.0.2
Requests==2.32.3
streamlit==1.42.1
tensorflow==2.18.0
tensorflow_intel==2.18.0
torch==2.6.0
torchvision==0.21.0
transformers==4.49.0
ultralytics==8.3.76
